.App {
  text-align: center;
}

.App-header {
  font-size: 38px;
  font-weight: 700;
  color: rgb(232, 232, 232);
}

.wordWrapper {
  background-color: rgba(229, 231, 235, 0.3);
  width: 80%;
  margin: 0 auto;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 7px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.inputText {
  background-color: white;
  width: 70%;
  padding: 13px;
  text-align: left;
  font-size: 18px;
  line-height: 28px;
}

.inputText textarea {
  width: 97%;
  height: 450px;
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
}

.hasilText {
  width: 25%;
}
.statics {
  font-size: 20px;
  padding: 5px;
  border: 2px solid rgb(187, 187, 187);
  background-color: white;
  border-radius: 7px;
  margin-bottom: 10px;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
}

.groupStatistic {
  display: flex;
  justify-content: space-around;
}

.word {
  color: rgb(202, 202, 202);
}

.wordsDensity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-size: 16px;
}

.wordsDensity:nth-child(even) {
  background-color: rgb(221, 221, 221);
}

.listWord {
  width: 85%;
  word-wrap: break-word;
  text-align: left;
}
